@model Trips.Models.Trip
@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>

<h4>Trip</h4>
<hr />
<div class="row">
    <form asp-action="UpdateTrip" method="post" asp-controller="Trips">
        <input type="hidden" asp-for="tripId" />

        <div class="form-group">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <input asp-for="Description" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Destination" class="control-label"></label>
            <input asp-for="Destination" class="form-control" required />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="StartDate" class="control-label"></label>
            <input asp-for="StartDate" class="form-control" type="date"/>
        </div>
        <div class="form-group">
            <label asp-for="EndDate" class="control-label"></label>
            <input asp-for="EndDate" class="form-control" type="date" />
        </div>

        <div class="form-group my-4">
            <input type="submit" value="Update" class="btn btn-primary" />
        </div>
    </form>
</div>

<div>
    <a asp-action="Index" asp-controller="Home">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
